*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", "sans-serif";
  padding: 50px 64px;
}

.container{
max-width: 1100px;
margin: 0px auto;
} 

.header {
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo img{
    width: 68px;
    height: auto;
}

.header h1{
    font-size: 42px;
    text-transform: uppercase;
    font-family: "Coiny", "sans-serif";
    margin-top: 6px;
    line-height: 1;
}

.fact{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 16px;
    padding: 16px 24px;
    background-color: #44403c;
    border: 1px solid red;
    letter-spacing: -1px;
    border-radius: 16px;

    display: flex;
    align-items: center;
    gap: 24px;
}

.tag{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Coiny", "sans-serif";
    padding: 3px 10px 0px 10px;
    border-radius: 100px;
    cursor: pointer;
}

ul{
    list-style: none;
}

.main{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 48px;
}

 /************** FORM *************/

 .fact-form{
    background-color: #44403c;
    margin-bottom: 40px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    }

.fact-form input, 
.fact-form select{
    background-color: #78716e;
    border: none;
    border-radius: 100px;
    padding: 16px;
    font-size: 18px;
    color: inherit;
    font-family: inherit;
    width: 220px;
}

.fact-form input::placeholder{
    color: #a8a29e;
}
.fact-form input:first-child{
    flex-grow: 1;
}

.fact-form span{
    font-weight: 600;
    font-size: 18px;
    margin-right: 18px;
}

/*************** LINKS ***********/

.source:link,
.source:visited{
    text-decoration: none;
    color: #a8a39e;
    margin-left: 12px;
    transition: 0.5s;
}
.source:hover,
.source:active{
    color: #3b82f6;
}

/************ Buttons *********/

.btn{
    border: none;
    font-family: "Coiny", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 17px;
    padding: 16px 5px 13px 5px;
    background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
    color: inherit;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(110%) rotate(-2deg);
}
.btn-large{
    font-size: 20px;
    padding: 20px 32px 17px 32px;
}

.btn-all-categories{
    margin-bottom: 16px;
    width: 100%;
}

.btn-category{
    width: 100%;
    background-image: none;
}

.category{
    margin: 16px;
}
.fact .vote-buttons{
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    gap: 8px;
}

.fact .vote-buttons button:hover{
background-color: #292524;
}

.fact .vote-buttons button{
    background-color: #78716e;
    border: none;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 50px;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}